<!-- Mannual Form Handling Via Flask -->

{% extends "base.html" %}

{% block title %}Registration Page{% endblock %}

{% block content %}
<h2>Register Here</h2>
<form method="POST" action="/" > <!--Esko hum home page pe hi leke jayenge-->
    
    {{ form.hidden_tag() }} <!-- CSRF token ke liye , jisko Flask generate karega aur flask-wtf ke through validate karega-->
    <!--customize the name-->
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br> <!-- size attribute set kr diya-->
        {% for error in form.name.errors %} <!--ager koi error h to usko shgow krdo-->
        <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>
    <!--similarly customize the email-->
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %} <!--ager koi error h to usko show krdo-->
        <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>
    <!--similarly customize the password-->
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}<!--ager koi error aa rha h to usko show krdo-->
        <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>
    <!--ab form ko submit kr dete hahin, submit ko call karke-->
    <p>{{ form.submit() }}</p>

</form>
{% endblock %}