<!--Hum base.html ko hi extends kr rhe hain bus jo features h usko seperate files me desig kr rhe hian-->
{% extends "base.html" %}

{% block title %} Login {% endblock %}

<!--Ab eska content define karte hain-->
{% block content %}
<div class="login-box">

    <h2>Login</h2>
        
    <!-- Esme 2 division rhega 1. Email/Username, 2.Password -->
    <form method="POST">
        {{ form.hidden_tag() }}
    
    
        <!---------------- For Email/Username ---------------->
        <div class="form-group">
            {{ form.email_or_username.label }}
            {{ form.email_or_username(class="input-box", placeholder="Enter your username or email") }}
            {% for error in form.email_or_username.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
        </div>
    
        <!---------------- For Email/Username ---------------->
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="input-box", placeholder="Enter your password") }}
            {% for error in form.password.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
        </div>
    
        <!------------------ Login Button -------------------->
        {{ form.submit(class="btn btn-primary") }}
    
    </form>

    <!------------------ Register Button -------------------->

    <p>New user? 
    <a href="{{ url_for('auth.register') }}">Create an account</a>
</p>
</div>


{% endblock %}


